

.container {
    text-align: center;
    margin-top: 50px;
    background: linear-gradient(to left, #feef, rgb(195, 166, 166),rgb(148, 145, 233));
  }

  #chart{
    background-color: #fff;
  }
  
  #tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 5px;
  }
  
  .dot {
    fill: steelblue;
    fill-opacity: 0.7;
  }
  
  .dot:hover {
    fill: orange;
  }
  